name: Puppeteer Suite Tests

on:
  workflow_dispatch:
    inputs:
      suite:
        description: 'Test suite to run'
        required: true
        type: choice
        options:
          - daily
          - default
        default: daily

jobs:
  test-docspace:
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'docspace'
      suite: ${{ github.event.inputs.suite }}
      launch_name: ${{ github.event.inputs.suite == 'daily' && 'Github Action Daily Tests' || 'Github Action Default Tests' }}
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

  test-ncoc:
    needs: test-docspace
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'ncoc'
      suite: ${{ github.event.inputs.suite }}
      launch_name: ${{ github.event.inputs.suite == 'daily' && 'Github Action Daily Tests' || 'Github Action Default Tests' }}
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

  test-ocis:
    needs: test-ncoc
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'ocis'
      suite: ${{ github.event.inputs.suite }}
      launch_name: ${{ github.event.inputs.suite == 'daily' && 'Github Action Daily Tests' || 'Github Action Default Tests' }}
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

  test-wopi:
    needs: test-ocis
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'wopi'
      suite: ${{ github.event.inputs.suite }}
      launch_name: ${{ github.event.inputs.suite == 'daily' && 'Github Action Daily Tests' || 'Github Action Default Tests' }}
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

  test-example:
    needs: test-wopi
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'example'
      suite: ${{ github.event.inputs.suite }}
      launch_name: ${{ github.event.inputs.suite == 'daily' && 'Github Action Daily Tests' || 'Github Action Default Tests' }}
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}
