name: Puppeteer DocServer test
run-name: Puppeteer DocServer test - ${{ github.event.inputs.url }}

on:
  workflow_dispatch:
    inputs:
      url:
        description: Stand to test
        required: true
        default: release
        type: choice
        options:
        - release
        - hotfix
        - develop

env:
  SELECTED_URL: ${{ github.event.inputs.url == 'release' && secrets.URL_RELEASE || github.event.inputs.url == 'hotfix' && secrets.URL_HOTFIX || secrets.URL_DEVELOP }}

jobs:
  puppeteer-docserver:
    uses: ./.github/workflows/puppeteer-tests-actions.yaml
    with:
      provider: 'example'
      suite: 'default'
      url: ${{ env.SELECTED_URL }}
      launch_name: 'Github Action All Tests'
    secrets:
      READ_PAT: ${{ secrets.READ_PAT }}
      REPORT_KEY: ${{ secrets.REPORT_KEY }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}
      URL_RELEASE: ${{ secrets.URL_RELEASE }}
      URL_HOTFIX: ${{ secrets.URL_HOTFIX }}
      URL_DEVELOP: ${{ secrets.URL_DEVELOP }}
